html, body {
    font-family: 'Raleway', sans-serif;
    
}


h1,h2,h3,h3 {
    margin: 0;
}

body{background-color: rgb(201, 193, 193);}






header{

    color: white;
    height: 5vh; 
}





.hero {
background-color: rgb(227, 84, 129);    height: 70vh;
  
    background-size: cover;
    background-position: center center;
    position: relative;
}



.hero>h1 {
   
    position: absolute;
    left: 10vw;
    top: 30vh;
    color: white;
    font-size: 40pt;
    font-family: 'Raleway', sans-serif;
}


.hero>h2 {
    position: absolute;
    left: 10vw;
    top: 40vh;
    color: #333333;
    font-size: 2vw;
    font-weight: 300;
}

    
.frame {
    width: 80vw;
    margin: auto auto;
}
    

.bottom {
    background-color: rgb(227, 84, 129);
    height: 32vh;
}

.pic{
    height: 75px;
    width: 75px;
    margin-left: 1vw;
}